# Ignore Gradle project-specific cache directory
.gradle

# Intellij IDEA project files
.idea/
*.iml
*.ipr

# Ignore Gradle build output directory
build

/bin/
_out
/target/
/aclocal.m4
/compile
/configure
/install-sh
/autom4te.cache/
/Makefile
/Makefile.in
/config.log
/config.status
/java-client-kubevirt.spec
/missing
rpmbuild

# Distribution tarballs
*.tar.gz

# Pom file is generated so ignore it
/pom.xml